asgiref==3.7.2
bleach==6.1.0
Django==5.0.3
django-axes==6.4.0
django-summernote==0.8.20.0
django-types==0.19.1
gunicorn==21.2.0
packaging==24.0
pillow==10.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
six==1.16.0
sqlparse==0.4.4
types-psycopg2==2.9.21.20240311
webencodings==0.5.1
